<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
  <cmail-header></cmail-header>
  <main class="mdl-layout__content">
    <div class="page-content">
      <div class="mdl-grid">
        <form [formGroup]="formCadastro" (ngSubmit)="handleCadastroUsuario()">
          <cmail-form-group [campo]="formCadastro.get('nome')">
            <input formControlName="nome" type="text" autofocus required name="nome" cmailFormField
              class="mdl-textfield__input">
            <span class="mdl-textfield__error" *ngIf="formCadastro.get('nome').errors?.minlength">minimo 3
              caracters</span>

            <span class="mdl-textfield__error" *ngIf="formCadastro.get('nome').errors?.maxlength">Permitido no maximo 8
              caracters</span>
          </cmail-form-group>

          <cmail-form-group [campo]="formCadastro.get('username')">
            <input formControlName="username" type="text" autofocus required name="username" cmailFormField
              class="mdl-textfield__input">
            <span class="mdl-textfield__error">Informar um username obrigatório!</span>
          </cmail-form-group>

          <cmail-form-group [campo]="formCadastro.get('senha')">
            <input formControlName="senha" type="password" required name="senha" cmailFormField
              class="mdl-textfield__input">
            <span class="mdl-textfield__error" *ngIf="formCadastro.get('senha').hasError('minlength')">Informar um senha
              obrigatório!</span>
          </cmail-form-group>

          <cmail-form-group [campo]="formCadastro.get('avatar')">
            <input formControlName="avatar" type="type" name="avatar" cmailFormField class="mdl-textfield__input">
          </cmail-form-group>

          <div class="mdl-card__actions">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
              Cadastrar
            </button>
          </div>
          {{formCadastro.get('nome').errors | json }}
        </form>
      </div>
    </div>
  </main>

</div>