<div class="mdl-layout mdl-js-layout">
  <main class="mdl-layout__content">
    <div class="page-content">
      <div class="mdl-grid">
        <article class="demo-card-wide mdl-card mdl-shadow--2dp">
          <header class="mdl-card__title">
            <h1 class="mdl-card__title-text">Bem vindos/as ao CMail!</h1>
          </header>

          <form autocomplete="off" class="mdl-card__supporting-text" #formLogin="ngForm"
            (submit)="handleLogin(formLogin)">

            <cmail-form-group [campo]="email">
              <input #email="ngModel" [(ngModel)]="login.email" type="text" autofocus required name="login"
                cmailFormField class="mdl-textfield__input">
            </cmail-form-group>

            <cmail-form-group [campo]="password">
              <input #password="ngModel" [(ngModel)]="login.password" type="password" autofocus required name="senha"
                cmailFormField class="mdl-textfield__input">

            </cmail-form-group>

            <span class="" *ngIf="mensagemError.includes('User not found') || mensagemError.includes('Invalid')">Usuário
              ou senha invalido!</span>
            <div class="mdl-card__actions mdl-card--border">
              <a routerLink="/cadastro" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                Primeiro login? Cadastre-se!
              </a>
              <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent entrar">
                Entrar
              </button>
            </div>
          </form>

        </article>
      </div>
    </div>
  </main>
</div>